{% extends 'profile/donor/base/base_logged.html' %}

{% load bootstrap %}
{% load filters %}

{% block title %}.:Doação{% endblock %}

{% block content %}
<style>
    #shadow {
        box-shadow: 1px 1px 8px rgb(183, 204, 183);
    }
</style>

<div class="col-md-10  ps-5 pe-5 mb-3">
    <h1 class="text-end">Registrar Doação</h1>
    <hr>

    <form method="POST">
        {% csrf_token %}
        <div id="shadow" class="card w-75 mx-auto text-secondary">
            <!--Alterações-->
            <div class="card-body row border m-3">
                <div>
                    <h2>Dados do atendimento</h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <label class="h5">Codigo atendimento</label>
                    {{ attending.id }}
                </div>
                <div class="col-md-6">
                    <label class="h5">Local</label>
                    {{ attending.place }}
                </div>

                <div class="col-md-6">
                    <label class="h5">Data</label>
                    {{ attending.date_attending.date }}
                </div>

                <div class="col-md-6">
                    <label class="h5">Horário</label>
                    {{ attending.date_attending.time }}
                </div>
            </div>

            <div class="card-body row border m-3">
                <div class="col-md-12">
                    <h2 class="">Dados do doador</h2>
                    <hr>
                </div>

                <div class="col-md-6">
                    <label class="h5">Código ID:</label>
                    {{ attending.requester.id}}

                </div>
                <div class="col-md-6">
                    <label class="h5">Doador:</label>
                    {{attending.requester.first_name}} {{ attending.requester.last_name }}

                </div>

                <div class="col-md-6">
                    <label class="h5">Telefone:</label>
                    {% if attending.requester.phone == '' %}
                    00 00000-0000
                    {{else}}
                    {{ attending.requester.phone }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <label class="h5">Email:</label>
                    {{ attending.requester.email }}
                </div>
            </div>

            <div class="card-body row border m-3">
                <div class="col-md-12">
                    <h2>Materiais doados</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <table class="table">
                        <thead style="background-color: rgb(175, 231, 197);">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Quantidade</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in materials %}
                            <tr>
                                <th scope="row">#</th>
                                <td> {{ material.material_name }}</td>
                                <td>{{ material.quatity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="col-md-12 row">
                    <div class="col-md-3">
                        <label class="fw-bold h5">Obs. do Ponto:</label>
                    </div>
                    <div class="col-md-9 p-0">
                        {{ description }}
                    </div>
                </div>
            </div>
            <div class="card-body row border m-3">
                <div class="col-md-12 row">
                    <h2>Conformar Doação</h2>
                    <hr>
                    <div class="col-md-6 text-end">
                        <label class="fw-bold h5 mt-1 text-danger">Confirmar?</label>
                    </div>
                    <div class="col-md-6 d-flex justify-content-start">
                        {{ donation_form.confirmed|f_class:'form-control w-50' }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body border-0 w-75 mx-auto d-flex justify-content-end p-0 pt-3">

            <!--a href="{% url 'search_donor' %}" class="btn btn-lg btn-outline-danger me-3">Recusar</a-->
            <button type="submit" class="btn btn-lg btn-success">Confirmar</button>

        </div>
    </form>
</div>

</div>
{% endblock %}

{% block scripts%}
<!--script>
    // Criar Forms
    function add_form() {
        var total_forms = document.querySelector('#id_recyclabelmaterial_set-TOTAL_FORMS');
        var new_form_value = parseInt(total_forms.value) - 1;

        // new fields for material
        var new_label_material_name = document.createElement('Material');
        new_label_material_name.innerHTML = 'Material';
        var new_input_material_name = document.querySelector('#id_recyclabelmaterial_set-0-material_name')
            .cloneNode(true);
        new_input_material_name.name = 'recyclabelmaterial_set-' + new_form_value + '-material_name';
        new_input_material_name.id = 'id_recyclabelmaterial_set-' + new_form_value + '-material_name';
        new_input_material_name.value = ''

        var new_label_quantity = document.createElement('Qtde');
        new_label_quantity.innerHTML = 'Qtde';
        var new_input_quantity = document.querySelector('#id_recyclabelmaterial_set-0-quatity')
            .cloneNode(true);
        new_input_quantity.name = 'recyclabelmaterial_set-' + new_form_value + '-quatity';
        new_input_quantity.id = 'id_recyclabelmaterial_set-' + new_form_value + '-quatity';
        new_input_quantity.value = ''

        document.querySelector('#col-md-6_form-' + new_form_value).appendChild(new_label_material_name);
        document.querySelector('#col-md-6_form-' + new_form_value).appendChild(new_input_material_name);

        document.querySelector('#col-md-2_form-' + new_form_value).appendChild(new_label_quantity);
        document.querySelector('#col-md-2_form-' + new_form_value).appendChild(new_input_quantity);


        var new_label_remove = document.createElement('INPUT');
        new_label_remove.innerHTML = 'Remover';
        new_label_remove.className = 'btn btn-danger';
        new_label_remove.type = 'button';
        new_label_remove.value = 'Remover';
        new_label_remove.id = 'id_recyclabelmaterial_set-' + new_form_value + '-button_remove';

        new_label_remove.setAttribute("onclick", "remove_form('" + new_form_value + "');")

        document.querySelector('#col-md-3_form-' + new_form_value).appendChild(new_label_remove);
        //document.querySelector('#form_add').appendChild(new_input_remove);

        //total_forms.value = parseInt(total_forms.value) + 1;

    }

    // Criar DIVs
    function add_tags() {
        var total_forms = document.querySelector('#id_recyclabelmaterial_set-TOTAL_FORMS');

        div_row = document.createElement("DIV");
        div_row.className = 'row';
        div_row.id = 'row_form-' + total_forms.value;
        document.querySelector('#form_add').appendChild(div_row);

        div_col_6 = document.createElement("DIV");
        div_col_6.className = 'col-md-6';
        div_col_6.id = 'col-md-6_form-' + total_forms.value;
        document.querySelector('#' + div_row.id).appendChild(div_col_6)

        div_col_2 = document.createElement("DIV");
        div_col_2.className = 'col-md-2';
        div_col_2.id = 'col-md-2_form-' + total_forms.value;
        document.querySelector('#' + div_row.id).appendChild(div_col_2);

        div_col_3 = document.createElement("DIV");
        div_col_3.className = 'mt-4 col-md-3';
        div_col_3.id = 'col-md-3_form-' + total_forms.value;
        document.querySelector('#' + div_row.id).appendChild(div_col_3);

        total_forms.value = parseInt(total_forms.value) + 1;

        this.add_form();
    }

    // Remover Forms
    function remove_form(id) {
        var total_forms = document.querySelector('#id_recyclabelmaterial_set-TOTAL_FORMS');
        /*
        input_0 = document.getElementById('id_recyclabelmaterial_set-'+id+'-material_name');
        input_0.parentNode.removeChild(input_0);

        input_1 = document.getElementById('id_recyclabelmaterial_set-'+id+'-quatity');
        input_1.parentNode.removeChild(input_1);

        input_2 = document.getElementById('id_recyclabelmaterial_set-'+id+'-button_remove');
        input_2.parentNode.removeChild(input_2);
        */
        console.log('id_recyclabelmaterial_set-'+id+'-material_name');
        console.log('id_recyclabelmaterial_set-'+id+'-quatity');
        console.log('id_recyclabelmaterial_set-'+id+'-button_remove');

        /*
        div_1 = document.getElementById('col-md-6_form-'+id);
        div_1.parentNode.removeChild(div_1)
        
        div_2 = document.getElementById('col-md-2_form-'+id);
        div_2.parentNode.removeChild(div_2)

        div_3 = document.getElementById('col-md-3_form-'+id);
        div_3.parentNode.removeChild(div_3)*/

        div_0 = document.getElementById('row_form-'+id);
        div_0.parentNode.removeChild(div_0)

        console.log('row_form-'+id);
        console.log('col-md-6_form-'+id);
        console.log('col-md-2_form-'+id);
        console.log('col-md-3_form-'+id);

        //total_forms.value = parseInt(total_forms.value) - 1;
    }

    function calculator(){
        calc_0 = document.getElementById('id_recyclabelmaterial_set-0-quatity');
        result = document.getElementById('calculate');
        result.value = (parseInt(calc_0.value) * 0.25) + ' pts';
        console.log(result.value);
    }
</script-->
{% endblock %}