{% extends 'profile/donor/base/base_logged.html' %}

{% block title %}.:Página de usuário{% endblock %}

{% block content %}
<style>
    #position_ranking{
        background-color: rgb(20, 189, 118);
        color: white;
    }

    #points{
        color: rgb(20, 189, 118);
    }
  
</style>
<div class="col-md-10 ps-5 pe-5">
    <h1 class="text-end">Bem vindo, {{ request.user.first_name }}</h1>
    <hr>
    <div  id="points" class="card border border-success rounded-pill w-75 mx-auto">
        <div class="card card-body w-75 mx-auto m-2 border-0">
            <div class="row">
                <div class="col">
                    <label class="h4">Pontos:</label>
                    <h1 class="d-flex justify-content-center">{{ request.user.donnor.general_points }}</h1>
                </div>
                <div class="col">
                    <label class="h4">Pontos ranking:</label>
                    <h1 class="d-flex justify-content-center">{{ request.user.donnor.ranking_points }}</h1>
                </div>
            </div>
        </div>

    </div>
    <br>
    <div id="position_ranking" class="card border rounded-pill w-75 mx-auto">
        <h1 class="text-center">Você está na posição #1</h1>
    </div>
</div>
</div>
{% endblock %}