{% extends 'profile/recyclingCenter/base/base_logged.html' %}

{% load filters %}

{% block title %}.:Página de usuário{% endblock %}

{% block content %}

<div class="col-md-10 ps-5 pe-5 mb-3">
    <h1 class="text-end">Notificações</h1>
    <hr>
    <form method="POST">
        {% csrf_token %}
        <div id="shadow" class="card w-75 mx-auto shadow text-secondary">
            <div class="card-body">
                {% for att in attendings %}
                <div class="card card-header mx-auto m-2" style="background-color: rgb(228, 243, 187);">
                    <div class="row">
                        <a href="{% url 'att_confirmation' att.id %}" class="text-decoration-none link-secondary">
                            <div class="col-md-12 h6">
                                <h5>Atendimento marcado para {{ att.date_attending }}</h5>
                            </div>
                            <div class="col-md-12">
                                <h6 class="d-flex justify-content-end">De: {{att.requester.first_name}}</h6>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </form>
</div>

</div>
{% endblock %}